kst-archer-lib-ddd/target/*
kst-archer-lib-ddd/tests/*
kst-archer-lib-data-processors/target/*
kst-archer-lib-data-processors/tests/*
kst-archer-lib-common/target/*
kst-archer-lib-common/tests/*
kst-archer-lib-common-test/target/*
kst-archer-lib-common-test/tests/*
kst-archer-lib-gateway/target/*
kst-archer-lib-gateway/tests/*
tests/*
.idea
*.iml
.gradle/
build/
generated-sources/
kst-archer-lib-ddd/out/*
kst-archer-lib-data-processors/out/*
kst-archer-lib-common/out/*
kst-archer-lib-gateway/out/*
kst-archer-lib-log/out/*
