archer-ddd-lib/target/*
archer-ddd-lib/tests/*
archer-ddd-lib/out/*
archer-data-processors-lib/target/*
archer-data-processors-lib/tests/*
archer-data-processors-lib/out/*
archer-common-lib/target/*
archer-common-lib/tests/*
archer-common-lib/out/*
archer-common-test-lib/target/*
archer-common-test-lib/tests/*
archer-gateway-lib/target/*
archer-gateway-lib/tests/*
archer-gateway-lib/out/*
archer-log-lib/out/*
tests/*
.idea
*.iml
.gradle/
build/
generated-sources/
